*.d
*.o
*.csv
*~
*.rej
*.orig
ChangeLog
bin/tuna
fftw.wisdom
*.log
*.swp
*.a
.ycm_extra_conf.pyc
__pycache__
*.swo
doxy/html
doxy/latex
doxy/libtuna.pdf
*.so
*.lo
swig/python/libtuna.py
swig/python/libtuna_wrap.c
test/plot/*.pdf
callgrind.*
